body {
  -webkit-animation: landing 1s ease-in-out;
          animation: landing 1s ease-in-out;
}

main {
  min-height: 80vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .intro-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 0 4rem;
}

main .intro-text h2 {
  font-size: 2rem;
  display: inline-block;
  background: -webkit-linear-gradient(#6c63ff, #948dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .intro-text .img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 10rem;
}

main .intro-text .dev-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem 5rem;
}

main .intro-text h1 {
  font-size: 4rem;
  padding: 0 0 4rem 0;
}

main .intro-text .cta {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#6c63ff), to(#948dff));
  background: linear-gradient(to right, #6c63ff, #948dff);
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
}

main .intro-text .cta:hover {
  background: -webkit-gradient(linear, right top, left top, from(#6c63ff), to(#948dff));
  background: linear-gradient(to left, #6c63ff, #948dff);
}

main .icon-links {
  margin-top: 5rem;
}

main .icon-links img {
  padding-right: 2rem;
}

main .project-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

main .project-intro h1 {
  font-size: 2rem;
}

main .project-intro h2 {
  font-size: 1.2rem;
}

main .project {
  padding: 2rem;
}

main .project-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

main .project-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact-content h1 {
  font-size: 3rem;
  padding: 1rem 4rem 1rem 4rem;
}

main .contact-content .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact-content .form-container {
  padding: 4rem 10rem;
  margin: 2rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
}

main .contact-content input,
main .contact-content textarea {
  width: 100%;
  padding: 0.3rem 1rem;
  background-color: #f1f1f1;
  outline: none;
  border: none;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

main .contact-content input:focus,
main .contact-content textarea:focus {
  border: 1px solid #6c63ff;
}

main .contact-content label {
  font-size: 1.2rem;
  padding: 1.5rem 0 0.5rem 0;
}

main .contact-content #submit-btn {
  padding: 0.8rem 2rem;
  width: 100%;
  margin-top: 2rem;
  outline: none;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#6c63ff), to(#948dff));
  background: linear-gradient(to right, #6c63ff, #948dff);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  min-height: 10vh;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links a {
  font-size: 1.3rem;
  color: #504f60;
  font-weight: 500;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4 1 20rem;
          flex: 4 1 20rem;
}

.logo-container h1 {
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #504f60;
}

footer {
  background-color: #504f60;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-content h2 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 10rem;
          flex: 4 1 10rem;
  font-size: 1.5rem;
  color: white;
}

footer .footer-content .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content .social-links img {
  width: 1.5rem;
}

/* Animations */
@-webkit-keyframes landing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes landing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media queries */
@media screen and (max-width: 1650px) {
  html {
    font-size: 90%;
  }
}
/*# sourceMappingURL=main.css.map */